<h3>ユーザー編集</h3>
<%= form_with model: @user do |f| %>
  <table>
    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>

    <tr>
      <th><%= f.label :start ,"開始日" %></th>
      <td><%= f.date_field :start %></td>
    </tr>
    
    <tr>
      <th><%= f.label :check ,"終日" %></th>
      <td><%= f.check_box :check, {} , "○", nil %></td>
    </tr>

    <tr>
      <th><%= f.label :end ,"終了日" %></th>
      <td><%= f.date_field :end %></td>
    </tr>

    <tr>
      <th><%= f.label :updated_at ,"更新日時" %></th>
      <td><%= f.datetime_field :updated_at %></td>
    </tr>
    
    <tr>
      <th><%= f.label :content, "内容" %></th>
      <td><%= f.text_area :content, class:"posts-content" %></td>
    </tr>
  </table>


  <div>
    <ul>
      <li><%= f.submit "完了する！"%></li>
      <li><%= link_to "一覧に戻る", :users %></li>
    </ul>
  </div>
<% end %>
