
<h3>予定一覧</h3>
<% if flash[:notice] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>タイトル</th>
      <th>終日</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>更新日</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.title %></td>
        <td><%= user.check %></td>
        <td><%= user.start.strftime('%Y/%m/%d')%></td>
        <td><%= user.end.strftime('%Y/%m/%d')%></td>
        <td><%= user.updated_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td>
            <%= link_to "予定詳細", user %>
        </td>

        <td>
            <%= link_to "予定編集", [:edit, user] %>
        </td>

        <td>
          <%= link_to "削除", user, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tbody>
    </tr>
    <% end %>
  </tbody>
</table>
<p>
  件数<%=User.count%>
 </p>
 <p>本日の日付<%= Date.current.strftime('%Y/%m/%d') %></p>
<p><%= link_to "予定の新規追加", :new_user %></p>
